node_red/study_p1
[{"id":"7ef39b41.e8a854","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6f4c99b5.7ebef8","type":"mqtt-broker","z":"","name":"Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"833ccc69.8cdbf","type":"mqtt in","z":"7ef39b41.e8a854","name":"","topic":"FUSION/1104/light_sensor/light_intensity","qos":"2","broker":"6f4c99b5.7ebef8","x":410,"y":300,"wires":[["92b069a5.974438"]]},{"id":"92b069a5.974438","type":"switch","z":"7ef39b41.e8a854","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"num"},{"t":"gte","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":400,"wires":[["152d8da7.f960c2"],["c2825912.5598d8"]]},{"id":"50f981b4.765ee","type":"debug","z":"7ef39b41.e8a854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":120,"wires":[]},{"id":"faa546f0.472fa8","type":"mqtt out","z":"7ef39b41.e8a854","name":"","topic":"FUSION/1104/led/16/digitalWrite","qos":"2","retain":"false","broker":"6f4c99b5.7ebef8","x":1230,"y":220,"wires":[]},{"id":"152d8da7.f960c2","type":"change","z":"7ef39b41.e8a854","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":260,"wires":[["faa546f0.472fa8","50f981b4.765ee"]]},{"id":"e9eda171.df019","type":"debug","z":"7ef39b41.e8a854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":580,"wires":[]},{"id":"c2825912.5598d8","type":"change","z":"7ef39b41.e8a854","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":440,"wires":[["faa546f0.472fa8","e9eda171.df019"]]},{"id":"b966ca4f.dfef28","type":"debug","z":"7ef39b41.e8a854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":180,"wires":[]}]